#container {
	width: 80%;
	height: 450px;
	margin: 50px auto;
	box-shadow: 2px 2px 10px #888;
	background: url(images/noise.png);
	padding-bottom: 70px;
}

#header {
	height: 60px;
	text-align: center;
	background-color: #525252;
	color: white;
	padding: 5px;
}