<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<import resource="datasource-config.xml" />
	<import resource="webflow-config.xml" />	
	<import resource="security-config.xml" />
	
	<!-- DAO declarations -->
	<bean id="userDao" class="com.example.j2eeapp.dao.UserJpaDao" />
	
	<!-- Services declarations -->
	<bean id="userService" class="com.example.j2eeapp.services.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="userAuthenticationProviderService" class="com.example.j2eeapp.services.impl.UserAuthenticationProviderServiceImpl">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>
	
</beans>